<div class="song-item">
          <hr>
          <p> <b>song:   </b>   {{song_name}} </p>
          <p> <b>artist: </b>   {{artist}}</p>
          <p> <b>album:  </b>   {{album}} </p>
          <p> <b>genre:  </b>   {{genre}} </p>
          <p> <b>year:   </b>   {{year}}  </p>
          <hr>
        
</div>

