<div class="song-item">
          <hr>
          <p> <b>song:   </b> <span class="song-name"> {{song_name}}   </span> </p>
          <p> <b>artist: </b> <span class="artist-name"> {{artist}} </span>  </p>
          <p> <b>album:  </b> <span class="album-name"> {{album}}</span> </p>
          <p> <b>genre:  </b> <span class="genre">  {{genre}} </span> </p>
          <p> <b>year:   </b> <span class="year"> {{year}}</span>  </p>
          <hr>
        
</div>

